In [49]:
from dash import Dash, dcc, html
import pandas as pd
import plotly.express as px

# Load the CSV file
file_path = r"C:\Users\User\Downloads\archive (4)\customer_shopping_data.csv"
data = pd.read_csv(file_path)
data.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [41]:
print(data.groupby('category')['price'].sum().reset_index())
print(data.groupby('gender')['price'].sum().reset_index())
print(data.groupby('payment_method')['price'].sum().reset_index())

          category        price
0            Books    226977.30
1         Clothing  31075684.64
2        Cosmetics   1848606.90
3  Food & Beverage    231568.71
4            Shoes  18135336.89
5         Souvenir    174436.83
6       Technology  15772050.00
7             Toys   1086704.64
   gender        price
0  Female  40931801.62
1    Male  27619564.29
  payment_method        price
0           Cash  30705030.98
1    Credit Card  24051476.93
2     Debit Card  13794858.00

In [43]:
# Ensure invoice_date is parsed as datetime
data['invoice_date'] = pd.to_datetime(data['invoice_date'], dayfirst=True, errors='coerce')

# Check for parsing errors
if data['invoice_date'].isnull().any():
    print("Warning: Some dates could not be parsed. Check the data for invalid formats.")

# Create the 'month' column
data['month'] = data['invoice_date'].dt.to_period('M')

# Debugging: Print the unique values in 'month'
print("Unique months:", data['month'].unique())

# Group by 'month' and calculate total sales
monthly_sales = data.groupby('month')['price'].sum().reset_index()
print(monthly_sales)

Unique months: <PeriodArray>
['2022-08', '2021-12', '2021-11', '2021-05', '2021-10', '2022-05', '2022-03',
 '2021-01', '2021-08', '2022-12', '2022-10', '2022-07', '2022-11', '2022-06',
 '2022-01', '2021-07', '2023-03', '2023-02', '2022-04', '2021-04', '2022-02',
 '2023-01', '2021-09', '2021-06', '2021-03', '2021-02', '2022-09']
Length: 27, dtype: period[M]
      month       price
0   2021-01  2656422.78
1   2021-02  2358636.34
2   2021-03  2618434.14
3   2021-04  2558825.62
4   2021-05  2662369.93
5   2021-06  2547239.73
6   2021-07  2802468.58
7   2021-08  2632303.32
8   2021-09  2530305.88
9   2021-10  2782418.40
10  2021-11  2547152.35
11  2021-12  2619727.56
12  2022-01  2656149.96
13  2022-02  2318201.08
14  2022-03  2705190.76
15  2022-04  2543653.14
16  2022-05  2684556.89
17  2022-06  2613106.01
18  2022-07  2749554.99
19  2022-08  2638238.71
20  2022-09  2584908.39
21  2022-10  2755839.69
22  2022-11  2447988.76
23  2022-12  2675437.80
24  2023-01  2620053.89
25  2023-02  2558459.90
26  2023-03   683721.31

In [45]:
app.layout = html.Div([
    html.H1("Test Dashboard", style={'text-align': 'center'}),
    html.Div("This is a test layout to debug the error.")
])

In [47]:
try:
  
    data['invoice_date'] = pd.to_datetime(data['invoice_date'], dayfirst=True)
    data['month'] = data['invoice_date'].dt.to_period('M')

    # Aggregated data
    category_sales = data.groupby('category')['price'].sum().reset_index()
    gender_sales = data.groupby('gender')['price'].sum().reset_index()
except Exception as e:
    print("Error loading or processing data:", e)
    category_sales = pd.DataFrame({'category': [], 'price': []})
    gender_sales = pd.DataFrame({'gender': [], 'price': []})

# Initialize app
app = Dash(__name__)

# Define layout
app.layout = html.Div([
    html.H1("Debug Dashboard", style={'text-align': 'center'}),
    dcc.Graph(
        id='category-sales',
        figure=px.bar(category_sales, x='category', y='price', title="Sales by Category")
    ),
    dcc.Graph(
        id='gender-sales',
        figure=px.pie(gender_sales, names='gender', values='price', title="Sales by Gender")
    )
])

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True, port=8060)